<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="10.0.5" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.5" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.5" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="10.0.5" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.5" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.5" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.5" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.5" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" manuallyInstalled="true" />
  <package id="NomadFramework.CVars" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.Core" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.EngineUtils.Unity" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.Events" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.FileSystem" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.Logger" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="NomadFramework.Save" version="0.1.0-alpha1" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="10.0.5" manuallyInstalled="true" />
</packages>